body {
    background: url('./img/ground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .auth-form-container {
    height: 100vh;
  }

  .auth-form-div {
    height: 85vh;
  }

  .navbar-default {
    background-color: rgb(2, 49, 8) !important;
  }